<hibernate-configuration>

<session-factory>
    <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/java-2-06</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">7777777a</property>
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

    <mapping class="terela.com.model.Route"/>
    <mapping class="terela.com.model.Bus"/>
    <mapping class="terela.com.model.Driver"/>

</session-factory>

</hibernate-configuration>